@model _5Bites.Models.HomePublicViewModel

@{
    ViewBag.Title = "Store Inventory";
}

<h2>Store Inventory</h2>

<h3>Choose a Store</h3>
<p>
    @foreach (var store in Model.Stores)
    {
        @Html.ActionLink(store.Name, "Public", "Store", new { id = store.Id }, new { })
    }
</p>