@model _5Bites.Models.EmployeeManageEditModel

<tr>
    <td>@Html.FormatValue(Model.Username, "{0}")</td>
    <td>
        @using (Html.BeginForm("SetAdmin", "Employee"))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.CheckBoxFor(m => m.IsAdmin, new { onclick="this.form.submit();" })
        }
    </td>
    <td>
        @using (Html.BeginForm("Fire", "Employee"))
        {
            @Html.HiddenFor(m => m.Id)
            <input type="submit" value="Fire" />
        }
    </td>
</tr>