@if (Session.Contents["EmployeeId"] == null)
{
    @Html.ActionLink("Login", "Login", "Employee")
}
else
{
    <p>Welcome @Html.ActionLink((string)Session.Contents["EmployeeName"], "Modify", "Employee")</p>
    @Html.ActionLink("Logout", "Logout", "Employee")
}